.ComUno{
    color:blue;
    background-color: rgb(111, 156, 232);
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
}

.border{
    margin: 2px;
    border: 5px solid rgb(133, 212, 172);
    max-width: 1500px;
    height: 450px;
}

.imagen{
    width: 240px;
    height: 410px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
}

.p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 43px;
}

.icon{
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

.icon1{
    text-align: center;
}
